@import "tailwindcss";

@theme {
  /* Paleta do Projeto - Acompanhamento de Leitura */
  --color-primaria: #2F39A9;   /* Azul Escuro (Ideal para cabeçalhos e textos principais) */
  --color-secundaria: #2E6FA0; /* Azul Médio (Ideal para navegação ou bordas) */
  --color-terciaria: #49A4BB;  /* Azul Claro/Ciano (Ideal para fundos de seções ou detalhes) */
  --color-destaque: #15D8B3;   /* Verde Água (Ideal para metas atingidas e botões/links) */
}